<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
	<div class="col">
		<% if (loggedIn) { %>
			<h2>Welcome back, <%= user.user_name %></h2>
		<% }  else { %>
			<h2>Welcome, please log in</h2>
		<% } %>
	</div>
</div>
<%- include ('partials/foot') %>