<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
</div>
<%- include ('partials/foot') %>

<!-- Quests will be a choose your own adventure thing. Each quest will have multiple
	 stages with choices that blend tabletop/traditional RPG systems with a CYOA 
	 format/framing.-->